html {
  margin: 0;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Roboto;
}

h5 {
  color: white;
}

.white {
  color: white;
}

.centerText {
  text-align: center;
}

.sideBar {
  position: fixed;
  float:left;
  background-color: white;
  width:250px;
  height: 100vh;
}
.sideBar > p {
  color: white;
}

.searchBar {
height: 18px;
background-color: rgb(24, 24, 24);
}

.catalog {
  margin-left: 250px;
  height: calc(100vh - 18px);
  background-color: rgb(24, 24, 24);
}