html {
  margin: 0;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Roboto;
}

.white {
  color: white;
}

.centerText {
  text-align: center;
}

.sideBar {
  position: fixed;
  float:left;
  background-color: #3b79dd;
  width:250px;
  height: 100vh;
}
.sideBar > p {
  color: white;
}

.searchBar {
  height: 56px;
  border-bottom: 1px solid lightgrey;
}

.catalog {
  margin-left: 250px;
  height: calc(100vh - 56px);
}